@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overscroll-behavior: none;
}

/*Width*/
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #374146;
    border-radius: 0;
}
